* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.addListBar {
  width: 50vw;
}

.displayList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .displayList label {
  display: flex;
  justify-content: space-between;
} */

.bin:hover {
  scale: 1.1;
}
